// *******
// BUTTONS
// *******

a,input[type="button"],button{  
	&,&:active,&:focus{
		outline-color: $color-primary;
	}

	&.btn{
		display: block;
		margin: $margin-small;
		font-family: $font-family-base;
		background: transparent;
		color: transparent;
		border-color: transparent;
		border-width: $border-width;
		border-style: solid;
		transition: 
			background $transition-timing $transition-timing-function,
			color $transition-timing $transition-timing-function,
			border-color $transition-timing $transition-timing-function;
		
		text-decoration: none;
		box-sizing: border-box;

		// Colors
		@include make-button-outline($btn-color-variants);
		@include make-button-solid($btn-color-variants);

		// Sizes
		@include make-button-sizes($btn-size-variants);
		

		// Link
		&.btn-link{
			@include make-button-link($btn-color-variants);
		}

		// Inline
		&.btn-inline{
			display: inline-block;
		}
	}
}