// ******
// LAYOUT
// ******

// CONTAINER

	.container{
		max-width: $container-width;

		@if $container-alignment == "center" {
			margin: 0 auto;
		} @else if $container-alignment == "left" {
			margin: 0 auto 0 0;
		}
	}


// SECTION

	section{
		margin: $margin-large;

		> section{
			padding-left: $base*2;
		}
	}