// ************
// SCALING UNIT
// ************

	$base: 				                9px !default; // Font-size: 20px
	$border-width:                2px !default;

// ******
// COLORS
// ******
	
	$background-color:             #FFFFFF !default;
  $gray-dark:                    #333333 !default;
	$gray-base:                    #212121 !default;
	$gray-light:                   #E0E0E0 !default;
	$gray-lighter:                 #FAFAFA !default;

	$color-primary: 					     #7E57C2 !default;
  $color-secondary:              lighten($color-primary,40%)!default;
	$color-danger: 				         #F44336 !default;
	$color-warning: 			         #FFC107 !default;
	$color-success: 			         #8BC34A !default;

	// LINK
	$link-color:                   $color-primary !default;
	$link-hover-color:             darken($link-color,15%) !default;
	$link-visited-color: 	         $link-color !default;	
	$link-underline-weight:        $border-width !default;	

  // ACTIVE
  $color-active:                lighten($link-color,35%) !default;

	// TEXT
	$color-highlight:              lighten($color-warning,30%) !default;

// ******
// LAYOUT
// ******
	
	$container-alignment:          center !default; // center, left

	$padding-base:                 $base $base*2 !default; // 10px 20px
	$padding-large:                $base*2 $base*4 !default; // 20px 40px
	$padding-small:                $base/2 $base !default; // 5px 10px

	$margin-base:                  $base*2 0 !default;
	$margin-large:                 $base*6 0 !default;
	$margin-small:                 $base 0 !default;

// *****
// FONTS
// *****

	$font-family-base: 			       'Work Sans', sans-serif !default;

	$font-size-base: 			         $base*2 !default;
	$font-size-small: 			       $base*1.5 !default;
	$line-height-base:			       1.5 !default;
	$font-weight-base: 			       300 !default;
	$font-weight-bold: 			       600 !default;

	// HEADINGS
	$font-size-h1: 				         $font-size-base * 2.5 !default;
	$font-size-h2: 				         $font-size-base * 2 !default;
	$font-size-h3: 				         $font-size-base * 1.75 !default;
	$font-size-h4: 				         $font-size-base * 1.5 !default;
	$font-size-h5: 				         $font-size-base * 1.25 !default;
	$font-size-h6: 				         $font-size-base;

	$font-family-heading:          $font-family-base !default;
	$line-height-heading:          1.25 !default;
	$margin-heading:               $base*2 0 !default;
	$font-weight-heading:          $font-weight-bold !default;

	// PRE, CODE
	$font-family-code:             'Consolas','Courier',monospace !default;
	$font-size-code:               $font-size-base * 0.8 !default;

	$color-code:                   #e06870 !default;
	$background-color-code:        #fdf4f4 !default;

	$color-pre:                    #667189 !default;
	$background-color-pre:         #f8f9fa !default;

	// BLOCKQUOTE
	$font-family-blockquote: 	     $font-family-base !default;
	$font-size-blockquote: 		     $font-size-base !default;
	$font-weight-blockquote: 	     $font-weight-bold !default;

	$line-weight-blockquote: 	     $border-width !default;
	$padding-blockquote: 		       $base $base $base $base*2 !default;

	$font-size-blockquote-cite:    0.9rem !default;

// *******
// BUTTONS
// *******

	// COLORS
	$btn-color-variants: (
		default: $link-color,
		success: $color-success,
		warning: $color-warning,
		danger: $color-danger
	) !default;

	// SIZES
	$btn-size-variants: (
		default: (
			font-size: $font-size-base,
			padding: $base $base*2,
			border-width: $border-width
		),
		sm: (
			font-size: $font-size-small,
			padding: $base/2 $base,
			border-width: $border-width
		),
		lg: (
			font-size: $font-size-base*1.25,
			padding: $base*2 $base*4,
			border-width: $border-width
		)
	) !default;

	$btn-disable-percentage: 		30% !default;

// *******
// LABELS
// *******

  $label-color-variants: (
    default: (
      color: $gray-light,
      text: $gray-base
    ),
    primary: (
      color: $color-primary,
      text: #fff
    ),
    success: (
      color: $color-success,
      text: #fff
    ),
    warning: (
      color: $color-warning,
      text: #fff
    ),
    danger: (
      color: $color-danger,
      text: #fff
    )
  ) !default;

// *******
// FORMS
// *******

  // COLORS
  $border-color-input:        $gray-light !default;
  $border-color-active-input: $link-color !default;
  $color-checkbox:            $link-color !default;
  $placeholder-color-input:   disable($gray-base) !default;
  $margin-input:              $base/4 0 !default;

  $font-weight-label:         $font-weight-bold !default;
  $font-size-label:           $font-size-small !default;

	// SIZES
	$form-size-variants: (
		default: (
      font-size: $font-size-base,
      padding: $base $base*2,
      border-width: $border-width
    ),
    sm: (
      font-size: $font-size-small,
      padding: $base/2 $base,
      border-width: $border-width
    ),
    lg: (
      font-size: $font-size-base*1.25,
      padding: $base*2 $base*4,
      border-width: $border-width
    )
	) !default;

// ******
// TABLES
// ******

	$padding-table-cell:				$base $base/2 !default;
	$border-color-table: 				$gray-light !default;
	$border-width-thead: 				$border-width !default;

	// STRIPED
	$background-color-table-striped: 	$gray-lighter !default;

	// HOVER
	$background-color-table-hover: 		darken($background-color-table-striped,5%) !default;



// ***********
// BREAKPOINTS
// ***********

	
	// Grid columns
	//
	// Set the number of columns and specify the width of the gutters.

	$grid-columns:               12 !default;
	$grid-gutter-width-base:     $base*3 !default;
	$grid-gutter-widths: (
	  xs: $grid-gutter-width-base,
	  sm: $grid-gutter-width-base,
	  md: $grid-gutter-width-base,
	  lg: $grid-gutter-width-base,
	  xl: $grid-gutter-width-base
	) !default;

	// Grid breakpoints
	$grid-breakpoints: (
	  xs: 0,
	  sm: 576px,
	  md: 768px,
	  lg: 992px,
	  xl: 1200px
	);


	// Grid containers
	$container-max-widths: (
	  sm: 540px,
	  md: 720px,
	  lg: 900px,
	  xl: 960px
	) !default !global;

// *********
// ANIMATION
// *********

	$transition-timing: 			0.5s;
	$transition-timing-function: 	cubic-bezier(0.4, 0.0, 0.2, 1); 
