/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; }

p {
  margin: 18px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  line-height: 1.25;
  margin: 18px 0;
  font-weight: 600; }

h1, .h1 {
  font-size: 45px; }

h2, .h2 {
  font-size: 36px; }

h3, .h3 {
  font-size: 31.5px; }

h4, .h4 {
  font-size: 27px; }

h5, .h5 {
  font-size: 22.5px; }

h6, .h6 {
  font-size: 18px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

b, strong {
  font-weight: 600; }

em, i, var, cite {
  font-style: italic; }

small {
  font-size: 13.5px; }

mark {
  background: #ffe7a0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  border-left: 2px solid #E0E0E0;
  padding: 9px 9px 9px 18px; }
  blockquote p, blockquote q {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0; }
  blockquote cite {
    font-size: 0.9rem; }

figure {
  margin-bottom: 9px; }
  figure figcaption {
    margin-top: 9px; }

img {
  display: block;
  clear: both;
  margin: 0px; }
  img.img-responsive {
    height: auto;
    max-width: 100%; }
  img.img-fit-cover {
    background: #FAFAFA;
    object-fit: cover; }

a:not(.btn) {
  color: #7E57C2;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
  white-space: nowrap;
  position: relative; }
  a:not(.btn):after {
    content: "";
    position: absolute;
    background: #7E57C2;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    z-index: -1;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  a:not(.btn):hover:after {
    width: 0; }
  a:not(.btn):visited {
    color: #7E57C2; }
    a:not(.btn):visited:after {
      background: #7E57C2; }
  a:not(.btn):hover {
    color: #593696; }
    a:not(.btn):hover:after {
      background: #593696; }

ul, ol {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 18px;
  margin: 18px 0; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: lower-roman; }

ul.unstyled, ol.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.container {
  padding-right: 13.5px;
  padding-left: 13.5px;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      padding-right: 13.5px;
      padding-left: 13.5px; } }
  @media (min-width: 768px) {
    .container {
      padding-right: 13.5px;
      padding-left: 13.5px; } }
  @media (min-width: 992px) {
    .container {
      padding-right: 13.5px;
      padding-left: 13.5px; } }
  @media (min-width: 1200px) {
    .container {
      padding-right: 13.5px;
      padding-left: 13.5px; } }
  @media (min-width: 576px) {
    .container {
      width: 540px;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .container {
      width: 900px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .container {
      width: 960px;
      max-width: 100%; } }

section {
  margin: 54px 0; }
  @media (min-width: 992px) {
    section > section {
      padding-left: 27px; } }

a.btn, input[type="button"].btn, button.btn {
  display: block;
  margin: 9px 0;
  font-family: "Work Sans", sans-serif;
  background: transparent;
  color: transparent;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none; }
  a.btn, input[type="button"].btn, button.btn {
    background: transparent;
    color: #7E57C2; }
    a.btn:not(.btn-link), input[type="button"].btn:not(.btn-link), button.btn:not(.btn-link) {
      border-color: #7E57C2; }
      a.btn:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn:not(.btn-link):not(:disabled):not(.disabled):hover {
        color: #fff;
        background: #4e3083;
        border-color: #4e3083; }
      a.btn:not(.btn-link):not(:disabled):not(.disabled):active, a.btn:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn:not(.btn-link):not(:disabled):not(.disabled).active, button.btn:not(.btn-link):not(:disabled):not(.disabled):active, button.btn:not(.btn-link):not(:disabled):not(.disabled).active {
        color: #fff;
        background: #4e3083;
        border-color: #4e3083; }
      a.btn:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn:not(.btn-link):not(:disabled):not(.disabled):active, button.btn:not(.btn-link):not(:disabled):not(.disabled):active {
        outline: solid #e3daf2; }
    a.btn:disabled, a.btn.disabled, input[type="button"].btn:disabled, input[type="button"].btn.disabled, button.btn:disabled, button.btn.disabled {
      background: transparent;
      color: #d4c7eb; }
      a.btn:disabled:not(.btn-link), a.btn.disabled:not(.btn-link), input[type="button"].btn:disabled:not(.btn-link), input[type="button"].btn.disabled:not(.btn-link), button.btn:disabled:not(.btn-link), button.btn.disabled:not(.btn-link) {
        border-color: #d4c7eb; }
        a.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, a.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):hover {
          color: #fff;
          background: #9b7cd0;
          border-color: #9b7cd0; }
        a.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn:disabled:not(.btn-link):not(:disabled):not(.disabled).active, a.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn:disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn:disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.disabled:not(.btn-link):not(:disabled):not(.disabled).active {
          color: #fff;
          background: #9b7cd0;
          border-color: #9b7cd0; }
        a.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.disabled:not(.btn-link):not(:disabled):not(.disabled):active {
          outline: solid white; }
  a.btn.btn-success, input[type="button"].btn.btn-success, button.btn.btn-success {
    background: transparent;
    color: #8BC34A; }
    a.btn.btn-success:not(.btn-link), input[type="button"].btn.btn-success:not(.btn-link), button.btn.btn-success:not(.btn-link) {
      border-color: #8BC34A; }
      a.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):hover {
        color: #fff;
        background: #577d2a;
        border-color: #577d2a; }
      a.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled).active {
        color: #fff;
        background: #577d2a;
        border-color: #577d2a; }
      a.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success:not(.btn-link):not(:disabled):not(.disabled):active {
        outline: solid #e1efd0; }
    a.btn.btn-success:disabled, a.btn.btn-success.disabled, input[type="button"].btn.btn-success:disabled, input[type="button"].btn.btn-success.disabled, button.btn.btn-success:disabled, button.btn.btn-success.disabled {
      background: transparent;
      color: #d5e9bd; }
      a.btn.btn-success:disabled:not(.btn-link), a.btn.btn-success.disabled:not(.btn-link), input[type="button"].btn.btn-success:disabled:not(.btn-link), input[type="button"].btn.btn-success.disabled:not(.btn-link), button.btn.btn-success:disabled:not(.btn-link), button.btn.btn-success.disabled:not(.btn-link) {
        border-color: #d5e9bd; }
        a.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, a.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):hover {
          color: #fff;
          background: #a4d070;
          border-color: #a4d070; }
        a.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled).active, a.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled).active {
          color: #fff;
          background: #a4d070;
          border-color: #a4d070; }
        a.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-success.disabled:not(.btn-link):not(:disabled):not(.disabled):active {
          outline: solid white; }
  a.btn.btn-warning, input[type="button"].btn.btn-warning, button.btn.btn-warning {
    background: transparent;
    color: #FFC107; }
    a.btn.btn-warning:not(.btn-link), input[type="button"].btn.btn-warning:not(.btn-link), button.btn.btn-warning:not(.btn-link) {
      border-color: #FFC107; }
      a.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):hover {
        color: #fff;
        background: #a07800;
        border-color: #a07800; }
      a.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled).active {
        color: #fff;
        background: #a07800;
        border-color: #a07800; }
      a.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning:not(.btn-link):not(:disabled):not(.disabled):active {
        outline: solid #ffeeba; }
    a.btn.btn-warning:disabled, a.btn.btn-warning.disabled, input[type="button"].btn.btn-warning:disabled, input[type="button"].btn.btn-warning.disabled, button.btn.btn-warning:disabled, button.btn.btn-warning.disabled {
      background: transparent;
      color: #ffe7a0; }
      a.btn.btn-warning:disabled:not(.btn-link), a.btn.btn-warning.disabled:not(.btn-link), input[type="button"].btn.btn-warning:disabled:not(.btn-link), input[type="button"].btn.btn-warning.disabled:not(.btn-link), button.btn.btn-warning:disabled:not(.btn-link), button.btn.btn-warning.disabled:not(.btn-link) {
        border-color: #ffe7a0; }
        a.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, a.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):hover {
          color: #fff;
          background: #ffce3a;
          border-color: #ffce3a; }
        a.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled).active, a.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled).active {
          color: #fff;
          background: #ffce3a;
          border-color: #ffce3a; }
        a.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-warning.disabled:not(.btn-link):not(:disabled):not(.disabled):active {
          outline: solid white; }
  a.btn.btn-danger, input[type="button"].btn.btn-danger, button.btn.btn-danger {
    background: transparent;
    color: #F44336; }
    a.btn.btn-danger:not(.btn-link), input[type="button"].btn.btn-danger:not(.btn-link), button.btn.btn-danger:not(.btn-link) {
      border-color: #F44336; }
      a.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):hover {
        color: #fff;
        background: #ba160a;
        border-color: #ba160a; }
      a.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled).active {
        color: #fff;
        background: #ba160a;
        border-color: #ba160a; }
      a.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger:not(.btn-link):not(:disabled):not(.disabled):active {
        outline: solid #fde1df; }
    a.btn.btn-danger:disabled, a.btn.btn-danger.disabled, input[type="button"].btn.btn-danger:disabled, input[type="button"].btn.btn-danger.disabled, button.btn.btn-danger:disabled, button.btn.btn-danger.disabled {
      background: transparent;
      color: #fccbc7; }
      a.btn.btn-danger:disabled:not(.btn-link), a.btn.btn-danger.disabled:not(.btn-link), input[type="button"].btn.btn-danger:disabled:not(.btn-link), input[type="button"].btn.btn-danger.disabled:not(.btn-link), button.btn.btn-danger:disabled:not(.btn-link), button.btn.btn-danger.disabled:not(.btn-link) {
        border-color: #fccbc7; }
        a.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, a.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):hover, button.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):hover {
          color: #fff;
          background: #f77066;
          border-color: #f77066; }
        a.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled).active, a.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled).active, input[type="button"].btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled).active, button.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled).active {
          color: #fff;
          background: #f77066;
          border-color: #f77066; }
        a.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, a.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, input[type="button"].btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger:disabled:not(.btn-link):not(:disabled):not(.disabled):active, button.btn.btn-danger.disabled:not(.btn-link):not(:disabled):not(.disabled):active {
          outline: solid white; }
  a.btn.btn-solid, input[type="button"].btn.btn-solid, button.btn.btn-solid {
    background: #7E57C2;
    color: #fff;
    border-color: transparent; }
    a.btn.btn-solid:not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-solid:not(:disabled):not(.disabled):hover, button.btn.btn-solid:not(:disabled):not(.disabled):hover {
      background: #4e3083;
      color: #fff; }
    a.btn.btn-solid:not(:disabled):not(.disabled):active, input[type="button"].btn.btn-solid:not(:disabled):not(.disabled):active, button.btn.btn-solid:not(:disabled):not(.disabled):active {
      outline: solid #e3daf2; }
    a.btn.btn-solid:disabled, a.btn.btn-solid.disabled, input[type="button"].btn.btn-solid:disabled, input[type="button"].btn.btn-solid.disabled, button.btn.btn-solid:disabled, button.btn.btn-solid.disabled {
      background: #d4c7eb;
      color: #fff;
      border-color: transparent; }
  a.btn.btn-solid.btn-success, input[type="button"].btn.btn-solid.btn-success, button.btn.btn-solid.btn-success {
    background: #8BC34A;
    color: #fff;
    border-color: transparent; }
    a.btn.btn-solid.btn-success:not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-solid.btn-success:not(:disabled):not(.disabled):hover, button.btn.btn-solid.btn-success:not(:disabled):not(.disabled):hover {
      background: #577d2a;
      color: #fff; }
    a.btn.btn-solid.btn-success:not(:disabled):not(.disabled):active, input[type="button"].btn.btn-solid.btn-success:not(:disabled):not(.disabled):active, button.btn.btn-solid.btn-success:not(:disabled):not(.disabled):active {
      outline: solid #e1efd0; }
    a.btn.btn-solid.btn-success:disabled, a.btn.btn-solid.btn-success.disabled, input[type="button"].btn.btn-solid.btn-success:disabled, input[type="button"].btn.btn-solid.btn-success.disabled, button.btn.btn-solid.btn-success:disabled, button.btn.btn-solid.btn-success.disabled {
      background: #d5e9bd;
      color: #fff;
      border-color: transparent; }
  a.btn.btn-solid.btn-warning, input[type="button"].btn.btn-solid.btn-warning, button.btn.btn-solid.btn-warning {
    background: #FFC107;
    color: #fff;
    border-color: transparent; }
    a.btn.btn-solid.btn-warning:not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-solid.btn-warning:not(:disabled):not(.disabled):hover, button.btn.btn-solid.btn-warning:not(:disabled):not(.disabled):hover {
      background: #a07800;
      color: #fff; }
    a.btn.btn-solid.btn-warning:not(:disabled):not(.disabled):active, input[type="button"].btn.btn-solid.btn-warning:not(:disabled):not(.disabled):active, button.btn.btn-solid.btn-warning:not(:disabled):not(.disabled):active {
      outline: solid #ffeeba; }
    a.btn.btn-solid.btn-warning:disabled, a.btn.btn-solid.btn-warning.disabled, input[type="button"].btn.btn-solid.btn-warning:disabled, input[type="button"].btn.btn-solid.btn-warning.disabled, button.btn.btn-solid.btn-warning:disabled, button.btn.btn-solid.btn-warning.disabled {
      background: #ffe7a0;
      color: #fff;
      border-color: transparent; }
  a.btn.btn-solid.btn-danger, input[type="button"].btn.btn-solid.btn-danger, button.btn.btn-solid.btn-danger {
    background: #F44336;
    color: #fff;
    border-color: transparent; }
    a.btn.btn-solid.btn-danger:not(:disabled):not(.disabled):hover, input[type="button"].btn.btn-solid.btn-danger:not(:disabled):not(.disabled):hover, button.btn.btn-solid.btn-danger:not(:disabled):not(.disabled):hover {
      background: #ba160a;
      color: #fff; }
    a.btn.btn-solid.btn-danger:not(:disabled):not(.disabled):active, input[type="button"].btn.btn-solid.btn-danger:not(:disabled):not(.disabled):active, button.btn.btn-solid.btn-danger:not(:disabled):not(.disabled):active {
      outline: solid #fde1df; }
    a.btn.btn-solid.btn-danger:disabled, a.btn.btn-solid.btn-danger.disabled, input[type="button"].btn.btn-solid.btn-danger:disabled, input[type="button"].btn.btn-solid.btn-danger.disabled, button.btn.btn-solid.btn-danger:disabled, button.btn.btn-solid.btn-danger.disabled {
      background: #fccbc7;
      color: #fff;
      border-color: transparent; }
  a.btn, input[type="button"].btn, button.btn {
    font-size: 18px;
    padding: 9px 18px;
    border-width: 2px; }
  a.btn.btn-sm, input[type="button"].btn.btn-sm, button.btn.btn-sm {
    font-size: 13.5px;
    padding: 4.5px 9px;
    border-width: 2px; }
  a.btn.btn-lg, input[type="button"].btn.btn-lg, button.btn.btn-lg {
    font-size: 22.5px;
    padding: 18px 36px;
    border-width: 2px; }
  a.btn.btn-link.btn-link, input[type="button"].btn.btn-link.btn-link, button.btn.btn-link.btn-link {
    text-decoration: none;
    text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
    white-space: nowrap;
    position: relative; }
    a.btn.btn-link.btn-link:after, input[type="button"].btn.btn-link.btn-link:after, button.btn.btn-link.btn-link:after {
      content: "";
      position: absolute;
      background: #7E57C2;
      display: block;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      z-index: -1;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    a.btn.btn-link.btn-link:hover:after, input[type="button"].btn.btn-link.btn-link:hover:after, button.btn.btn-link.btn-link:hover:after {
      width: 0; }
    a.btn.btn-link.btn-link:disabled, a.btn.btn-link.btn-link.disabled, input[type="button"].btn.btn-link.btn-link:disabled, input[type="button"].btn.btn-link.btn-link.disabled, button.btn.btn-link.btn-link:disabled, button.btn.btn-link.btn-link.disabled {
      text-decoration: none;
      text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
      white-space: nowrap;
      position: relative; }
      a.btn.btn-link.btn-link:disabled:after, a.btn.btn-link.btn-link.disabled:after, input[type="button"].btn.btn-link.btn-link:disabled:after, input[type="button"].btn.btn-link.btn-link.disabled:after, button.btn.btn-link.btn-link:disabled:after, button.btn.btn-link.btn-link.disabled:after {
        content: "";
        position: absolute;
        background: #d4c7eb;
        display: block;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  a.btn.btn-link.btn-link.btn-success, input[type="button"].btn.btn-link.btn-link.btn-success, button.btn.btn-link.btn-link.btn-success {
    text-decoration: none;
    text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
    white-space: nowrap;
    position: relative; }
    a.btn.btn-link.btn-link.btn-success:after, input[type="button"].btn.btn-link.btn-link.btn-success:after, button.btn.btn-link.btn-link.btn-success:after {
      content: "";
      position: absolute;
      background: #8BC34A;
      display: block;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      z-index: -1;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    a.btn.btn-link.btn-link.btn-success:hover:after, input[type="button"].btn.btn-link.btn-link.btn-success:hover:after, button.btn.btn-link.btn-link.btn-success:hover:after {
      width: 0; }
    a.btn.btn-link.btn-link.btn-success:disabled, a.btn.btn-link.btn-link.btn-success.disabled, input[type="button"].btn.btn-link.btn-link.btn-success:disabled, input[type="button"].btn.btn-link.btn-link.btn-success.disabled, button.btn.btn-link.btn-link.btn-success:disabled, button.btn.btn-link.btn-link.btn-success.disabled {
      text-decoration: none;
      text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
      white-space: nowrap;
      position: relative; }
      a.btn.btn-link.btn-link.btn-success:disabled:after, a.btn.btn-link.btn-link.btn-success.disabled:after, input[type="button"].btn.btn-link.btn-link.btn-success:disabled:after, input[type="button"].btn.btn-link.btn-link.btn-success.disabled:after, button.btn.btn-link.btn-link.btn-success:disabled:after, button.btn.btn-link.btn-link.btn-success.disabled:after {
        content: "";
        position: absolute;
        background: #d5e9bd;
        display: block;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  a.btn.btn-link.btn-link.btn-warning, input[type="button"].btn.btn-link.btn-link.btn-warning, button.btn.btn-link.btn-link.btn-warning {
    text-decoration: none;
    text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
    white-space: nowrap;
    position: relative; }
    a.btn.btn-link.btn-link.btn-warning:after, input[type="button"].btn.btn-link.btn-link.btn-warning:after, button.btn.btn-link.btn-link.btn-warning:after {
      content: "";
      position: absolute;
      background: #FFC107;
      display: block;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      z-index: -1;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    a.btn.btn-link.btn-link.btn-warning:hover:after, input[type="button"].btn.btn-link.btn-link.btn-warning:hover:after, button.btn.btn-link.btn-link.btn-warning:hover:after {
      width: 0; }
    a.btn.btn-link.btn-link.btn-warning:disabled, a.btn.btn-link.btn-link.btn-warning.disabled, input[type="button"].btn.btn-link.btn-link.btn-warning:disabled, input[type="button"].btn.btn-link.btn-link.btn-warning.disabled, button.btn.btn-link.btn-link.btn-warning:disabled, button.btn.btn-link.btn-link.btn-warning.disabled {
      text-decoration: none;
      text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
      white-space: nowrap;
      position: relative; }
      a.btn.btn-link.btn-link.btn-warning:disabled:after, a.btn.btn-link.btn-link.btn-warning.disabled:after, input[type="button"].btn.btn-link.btn-link.btn-warning:disabled:after, input[type="button"].btn.btn-link.btn-link.btn-warning.disabled:after, button.btn.btn-link.btn-link.btn-warning:disabled:after, button.btn.btn-link.btn-link.btn-warning.disabled:after {
        content: "";
        position: absolute;
        background: #ffe7a0;
        display: block;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  a.btn.btn-link.btn-link.btn-danger, input[type="button"].btn.btn-link.btn-link.btn-danger, button.btn.btn-link.btn-link.btn-danger {
    text-decoration: none;
    text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
    white-space: nowrap;
    position: relative; }
    a.btn.btn-link.btn-link.btn-danger:after, input[type="button"].btn.btn-link.btn-link.btn-danger:after, button.btn.btn-link.btn-link.btn-danger:after {
      content: "";
      position: absolute;
      background: #F44336;
      display: block;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      z-index: -1;
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
    a.btn.btn-link.btn-link.btn-danger:hover:after, input[type="button"].btn.btn-link.btn-link.btn-danger:hover:after, button.btn.btn-link.btn-link.btn-danger:hover:after {
      width: 0; }
    a.btn.btn-link.btn-link.btn-danger:disabled, a.btn.btn-link.btn-link.btn-danger.disabled, input[type="button"].btn.btn-link.btn-link.btn-danger:disabled, input[type="button"].btn.btn-link.btn-link.btn-danger.disabled, button.btn.btn-link.btn-link.btn-danger:disabled, button.btn.btn-link.btn-link.btn-danger.disabled {
      text-decoration: none;
      text-shadow: -2px 2px 0px #FFFFFF, 2px 2px 0px #FFFFFF;
      white-space: nowrap;
      position: relative; }
      a.btn.btn-link.btn-link.btn-danger:disabled:after, a.btn.btn-link.btn-link.btn-danger.disabled:after, input[type="button"].btn.btn-link.btn-link.btn-danger:disabled:after, input[type="button"].btn.btn-link.btn-link.btn-danger.disabled:after, button.btn.btn-link.btn-link.btn-danger:disabled:after, button.btn.btn-link.btn-link.btn-danger.disabled:after {
        content: "";
        position: absolute;
        background: #fccbc7;
        display: block;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  a.btn.btn-inline, input[type="button"].btn.btn-inline, button.btn.btn-inline {
    display: inline-block; }

pre, code {
  font-family: "Consolas", "Courier", monospace;
  padding: 9px 18px; }

code {
  display: inline;
  background: #fdf4f4;
  color: #e06870;
  line-height: 1;
  padding: 0.25em 0.5em;
  font-size: 0.9em; }

pre {
  display: block;
  font-size: 14.4px;
  position: relative;
  margin: 18px 0;
  background: #f8f9fa;
  color: #667189; }
  pre code {
    line-height: 1.5;
    background: none;
    color: inherit; }
  pre:before {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.5px 9px;
    color: #adb3c2;
    background: #f1f3f5; }

.form-group {
  margin: 18px 0; }

:not(.form-inline) label.form-label,
:not(.form-inline) input, :not(.form-inline) textarea, :not(.form-inline) select {
  display: block;
  box-sizing: border-box; }

label.form-label {
  font-weight: 600;
  font-size: 13.5px; }

input:not([type="button"]),
textarea,
select {
  font-family: "Work Sans", sans-serif;
  border-color: #E0E0E0;
  border-style: solid;
  width: 100%;
  outline: none;
  margin: 2.25px 0; }
  input:not([type="button"]),
  textarea,
  select {
    font-size: 18px;
    padding: 9px 18px;
    border-width: 2px;
    line-height: 1.5; }
  input:not([type="button"]).input-sm,
  textarea.input-sm,
  select.input-sm {
    font-size: 13.5px;
    padding: 4.5px 9px;
    border-width: 2px;
    line-height: 1.5; }
  input:not([type="button"]).input-lg,
  textarea.input-lg,
  select.input-lg {
    font-size: 22.5px;
    padding: 18px 36px;
    border-width: 2px;
    line-height: 1.5; }
  input:not([type="button"])::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: #6e6e6e; }
  input:not([type="button"]):active, input:not([type="button"]).active, input:not([type="button"]):focus,
  textarea:active,
  textarea.active,
  textarea:focus,
  select:active,
  select.active,
  select:focus {
    border-color: #7E57C2; }

select {
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select:not([multiple]) {
    background: #FFFFFF url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat; }
    select:not([multiple]) {
      background-size: 13.5px;
      background-position: right 18px center; }
    select:not([multiple]).input-sm {
      background-size: 10.125px;
      background-position: right 9px center; }
    select:not([multiple]).input-lg {
      background-size: 16.875px;
      background-position: right 36px center; }

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto; }

label.form-radio,
label.form-checkbox,
label.form-switch {
  position: relative; }
  label.form-radio .form-display,
  label.form-checkbox .form-display,
  label.form-switch .form-display {
    display: inline-block;
    border: thin solid #E0E0E0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  label.form-radio input,
  label.form-checkbox input,
  label.form-switch input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }
  label.form-radio input:checked + .form-display,
  label.form-checkbox input:checked + .form-display,
  label.form-switch input:checked + .form-display {
    background: #7E57C2; }
  label.form-radio input:focus + .form-display,
  label.form-radio input:active + .form-display,
  label.form-checkbox input:focus + .form-display,
  label.form-checkbox input:active + .form-display,
  label.form-switch input:focus + .form-display,
  label.form-switch input:active + .form-display {
    box-shadow: 0px 0px 0px 2px #e3daf2; }

label.form-radio,
label.form-checkbox {
  font-size: 18px;
  padding-left: 27px;
  padding-right: 18px; }
  label.form-radio .form-display,
  label.form-checkbox .form-display {
    width: 18px;
    height: 18px; }
label.form-radio.input-sm,
label.form-checkbox.input-sm {
  font-size: 13.5px;
  padding-left: 20.25px;
  padding-right: 9px; }
  label.form-radio.input-sm .form-display,
  label.form-checkbox.input-sm .form-display {
    width: 13.5px;
    height: 13.5px; }
label.form-radio.input-lg,
label.form-checkbox.input-lg {
  font-size: 22.5px;
  padding-left: 33.75px;
  padding-right: 36px; }
  label.form-radio.input-lg .form-display,
  label.form-checkbox.input-lg .form-display {
    width: 22.5px;
    height: 22.5px; }

label.form-radio .form-display {
  border-radius: 50%; }
label.form-radio input:checked + .form-display:after {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  border-radius: 50%; }
label.form-radio input:checked + .form-display:after {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
label.form-radio input:checked.input-sm + .form-display:after {
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px; }
label.form-radio input:checked.input-lg + .form-display:after {
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px; }

label.form-checkbox .form-display {
  border-radius: 10%; }
label.form-checkbox input:checked + .form-display:after {
  content: "";
  background-clip: padding-box;
  border: 2px solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 50%;
  width: 25%;
  position: absolute;
  left: 30%;
  top: 10%;
  transform: rotate(45deg); }

label.form-switch .form-display {
  display: inline-block;
  background: #ededed;
  border: thin solid #E0E0E0;
  box-sizing: content-box;
  position: absolute;
  left: 0;
  bottom: 0; }
label.form-switch input + .form-display:after {
  content: "";
  display: block;
  background: #fff;
  transition: margin 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0; }
label.form-switch input:checked + .form-display {
  border-color: #e3daf2; }
label.form-switch {
  font-size: 18px;
  padding-left: 49.5px;
  padding-right: 18px; }
  label.form-switch .form-display {
    width: 36px;
    height: 18px;
    border-radius: 9px; }
label.form-switch.input-sm {
  font-size: 13.5px;
  padding-left: 37.125px;
  padding-right: 9px; }
  label.form-switch.input-sm .form-display {
    width: 27px;
    height: 14px;
    border-radius: 7px; }
label.form-switch.input-lg {
  font-size: 22.5px;
  padding-left: 61.875px;
  padding-right: 36px; }
  label.form-switch.input-lg .form-display {
    width: 45px;
    height: 23px;
    border-radius: 12px; }
label.form-switch input + .form-display:after {
  width: 18px;
  height: 18px;
  border-radius: 9px; }
label.form-switch input:checked + .form-display:after {
  margin-left: 18px; }
label.form-switch.input-sm input + .form-display:after {
  width: 14px;
  height: 14px;
  border-radius: 7px; }
label.form-switch.input-sm input:checked + .form-display:after {
  margin-left: 14px; }
label.form-switch.input-lg input + .form-display:after {
  width: 23px;
  height: 23px;
  border-radius: 12px; }
label.form-switch.input-lg input:checked + .form-display:after {
  margin-left: 23px; }

.label {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  font-size: 75%;
  padding: 0.25em 0.4em;
  border-radius: 0.1rem;
  vertical-align: baseline; }
  .label {
    background: #E0E0E0;
    color: #212121; }
  .label.label-primary {
    background: #7E57C2;
    color: #fff; }
  .label.label-success {
    background: #8BC34A;
    color: #fff; }
  .label.label-warning {
    background: #FFC107;
    color: #fff; }
  .label.label-danger {
    background: #F44336;
    color: #fff; }

table.table {
  width: 100%;
  cursor: pointer; }
  table.table td, table.table th {
    padding: 9px 4.5px;
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid; }
  table.table td {
    border-bottom-width: 1px; }
  table.table thead td, table.table th {
    font-weight: 600;
    text-align: left;
    border-bottom-width: 2px; }
  table.table.table-striped tbody tr:nth-child(odd) td {
    background: #FAFAFA; }
  table.table.table-hover tr:hover td {
    background: #ededed;
    border-bottom-color: lightgray; }
  table.table tr.active td, table.table tr:nth-child(odd).active td, table.table.table-striped tr.active td, table.table.table-striped tr:nth-child(odd).active td, table.table.table-hover tr.active td, table.table.table-hover tr:nth-child(odd).active td {
    background: #ededed;
    border-bottom-color: lightgray; }

/*# sourceMappingURL=style.css.map */
